body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;    
    height: 100vh;
    margin: 0;
}

.container {
    width: 85%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #0c2d4e;
}

textarea, input[type="text"], input[type="date"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #003d82;
}
